@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
:root {
  --projShadowColor: rgba(151, 124, 124, 0.486);
  --postShadowColor: rgba(0, 0, 0, 0.2);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inconsolata, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  min-width: 280px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.my-app {
  height: 99vh;
  min-height: 99vh;
  position: relative;
}
.page {
  padding-left: 88px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(182, 181, 181);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgb(182, 181, 181);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(182, 181, 181);
}

.project-wrapper,
.overlay a {
  box-shadow: inset 20px 0 20px var(--projShadowColor),
    0px 1px 0 var(--projShadowColor), 0px 2px 0 var(--projShadowColor),
    0px 2px 3px var(--projShadowColor);
  box-shadow: 0px 3px 5px var(--projShadowColor),
    0px -3px 5px var(--projShadowColor);
  border-radius: 5px;
}
.img-wrapper img {
  display: block;
  width: 100%;
  height: 250px;
  position: absolute;
  border-radius: 5px;
}

.post-wrapper,
.contact-form {
  box-shadow: inset 20px 0 20px var(--postShadowColor),
    0px 1px 0 var(--postShadowColor), 0px 2px 0 var(--postShadowColor),
    0px 2px 3px var(--postShadowColor);
  box-shadow: 0px 3px 5px var(--postShadowColor),
    0px -3px 5px var(--postShadowColor);
  border-radius: 5px;
}
.label {
  box-shadow: inset 2px 0 2px lightgray, 0px 1px 0 lightgray,
    0px 2px 0 lightgray, 0px 2px 1px lightgray;
  box-shadow: 0px 2px 2px lightgray, 0px -2px 2px lightgray;
  border-radius: 5px;
}
